table{
    border: 1px solid;
    margin-top: 5vh;
    margin-bottom: 50px;
    margin-left: 15vh;
    margin-right: 25vh;
    
}

thead{
    background:#E59866;
    color: black;
    padding-left: 6px;
}

table th{
    border: 1px solid;
    margin-left: 10px;
    padding: 5px;
}

table td{
    border: 1px solid;
    padding-left: 25px;
    padding-right: 20px;
}

h1{
    margin-left: 15vh;
    margin-top: 1vh;
}
.botones{
    margin-left: 15vh;
}

.btn-2{
    margin-left: 85vh;
}


