body{
    background-image: url(../assets/warehouse-worker-checking-inventory-his-tablet-while-walking-large-storage-department-with-shelves-packages-background.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}