
table{
    border: 1px solid;
    margin-top: 5vh;
    margin-bottom: 30px;
    margin-left: 10vh;
    margin-right: 20vh;

}

thead{
    background:#04f9e9;
    color: black;
    padding-left: 6px;
}

table th{
    border: 1px solid;
    margin-left: 10px;
    padding-left: 10px;
}

table td{
    border: 1px solid;
    padding-left: 25px;
}

h1{
    margin-left: 15vh;
    margin-top: 1vh;
}
.botones{
    margin-left: 15vh;
}

.btn-1{
    margin-left: 100vh;
}

