table{
    border: 1px solid;
    margin-left: 15vh;

}

table th{
    border: 1px solid;
}

table td{
    border: 1px solid;
}

input{
    font: inherit;
}
section{
    min-height: 10vh;
    display: flex;
    align-items: flex-start;
    margin-left:23vh;
}
h1{
    margin-left:20vh;
}

button{
    margin-left: 40vh;
}