table{
    border: 1px solid;
    margin-left: 15vh;

}

table th{
    border: 1px solid;
}

table td{
    border: 1px solid;
}

input{
    font: inherit;
}
section{
    min-height: 10vh;
    display: flex;
    align-items: flex-start;
    margin-left:23vh;
}
h1{
    margin-left:20vh;
    margin-top: 1vh;
}

button{
    margin-left: 120vh;
    box-shadow: 2px 4px 15px 0 #000;
}
.text-navbar{
    text-align: center; 
    left: 100vh; 
}

@media (min-width: 576px){
    .login{
        margin-right: 100px;
        margin-top: 100px;
    }
}