table{
    margin-right: 2vh;
    width: 10px;
}

thead{
    background:#76D7C4;
    color: black;
    padding-left: 6px;
}

table th {
    border: 1px solid;
    margin-left: 10px;
    padding-left: 10px;
}

table td {
    border: 1px solid;
    padding-left: 25px;
}

.btn-1{
    margin-left: 80vh;
}